Repository rukapse/dnacenter-ansible: changes, and which CircleCI parameters are due for each by the changed paths.
All: run-setup=false, run-any, run-all, run-site, run-devicecredential, run-discovery, run-inventory, run-swim, run-pnp

syntax fixes
  .circleci/config.yml
Due: run-setup=false

with gh actions
  .circleci/config.yml
  .github/workflows/main.yml
  .github/workflows/release-prep.yml
  .github/workflows/release.yml
Due: run-setup=false

add slugs
  .github/workflows/release.yml
Due: run-setup=false

add slugs
  .circleci/config.yml
  .github/workflows/main.yml
  .github/workflows/release-prep.yml
Due: run-setup=false

set run-tests to false
  .circleci/config.yml
Due: run-setup=false

IT changes
  tests/integration/ccc_device_credential_management/tests/test_assign_credentials.yml
  tests/integration/ccc_device_credential_management/vars/vars_assign_credentials.yml
  tests/integration/ccc_discovery_management/tests/test_discovery_management.yml
  tests/integration/ccc_discovery_management/vars/vars_discovery_management.yml
  tests/integration/ccc_site_management/tests/test_site_management.yml
Due: run-setup=false, run-any, run-site, run-devicecredential, run-discovery

fixed ITs
  tests/integration/ccc_discovery_management/tests/test_discovery_management.yml
  tests/integration/ccc_network_compliance_management/helpers/config_change.py
  tests/integration/ccc_network_compliance_management/tests/test_network_compliance_management.yml
  tests/integration/ccc_network_compliance_management/vars/vars_network_compliance_management.yml
  tests/integration/ccc_swim_management/tests/test_swim_management.yml
Due: run-setup=false, run-any, run-discovery, run-swim

Move circleci to container runner
  .circleci/config.yml
  test-requirements.txt
Due: run-setup=false

testing build
  tests/integration/ccc_site_management/vars/vars_site_management.yml
Due: run-setup=false, run-any, run-site

testing ci pipeline
  tests/integration/ccc_site_management/vars/vars_site_management.yml
Due: run-setup=false, run-any, run-site

updated network_compliance ITs
  tests/integration/ccc_network_compliance_management/tests/test_network_compliance_management.yml
  tests/integration/ccc_network_compliance_management/vars/vars_network_compliance_management.yml
  tests/integration/ccc_site_management/vars/vars_site_management.yml
Due: run-setup=false, run-any, run-site

CI Pipeline Demo
  tests/integration/ccc_site_management/vars/vars_site_management.yml
Due: run-setup=false, run-any, run-site

test
  tests/integration/ccc_site_management/vars/vars_site_management.yml
Due: run-setup=false, run-any, run-site

added state mechanism
  plugins/module_utils/dnac.py
  plugins/modules/wireless_design_workflow_manager.py
Due: run-setup=false, run-any, run-all

updated code to exclude interface default
  plugins/modules/wireless_design_workflow_manager.py
Due: run-setup=false, run-any

tested the extract, transform, apply flow for sda host port onboarding module
  tests/sda_host_port_onboarding_device_refresh_poc/README.md
  tests/sda_host_port_onboarding_device_refresh_poc/ansible.cfg
  tests/sda_host_port_onboarding_device_refresh_poc/dnac.log
  tests/sda_host_port_onboarding_device_refresh_poc/extracted_source_config.yml
  tests/sda_host_port_onboarding_device_refresh_poc/inventory.yml
  tests/sda_host_port_onboarding_device_refresh_poc/playbook_device_refresh.yml
  tests/sda_host_port_onboarding_device_refresh_poc/vars_device_refresh.yml
Due: run-setup=false

removed catc details
  tests/sda_host_port_onboarding_device_refresh_poc/vars_device_refresh.yml
Due: run-setup=false

added readme
  tests/sda_host_port_onboarding_device_refresh_poc/README.md
  tests/sda_host_port_onboarding_device_refresh_poc/playbook_device_refresh.yml
Due: run-setup=false

Path conditions:
  run-setup=false: any of: .*
  run-any: (any of: plugins/.*) or (any of: tests/integration/.*)
  run-all: any of: plugins/module_utils/.*
  run-site: (any of: plugins/modules/site_workflow_manager.py) or (any of: tests/integration/ccc_site_management/.*)
  run-devicecredential: (any of: plugins/modules/device_credential_workflow_manager.py) or (any of: tests/integration/ccc_device_credential_management/.*)
  run-discovery: (any of: plugins/modules/discovery_workflow_manager.py) or (any of: tests/integration/ccc_discovery_management/.*)
  run-inventory: (any of: plugins/modules/inventory_workflow_manager.py) or (any of: tests/integration/ccc_inventory_management/.*)
  run-swim: (any of: plugins/modules/swim_workflow_manager.py) or (any of: tests/integration/ccc_swim_management/.*)
  run-pnp: (any of: plugins/modules/pnp_workflow_manager.py) or (any of: tests/integration/ccc_pnp_management/.*)
